In [0]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
import os
import math

from IPython import display
from matplotlib import style
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn import metrics
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)

pd.options.display.float_format = "{:.4f}".format

style.use('ggplot')

os.chdir('/content/drive/ml_directory/recommend_this/juice_recommender/')

In [20]:
my_juice_df = pd.read_csv('juice_dataset.csv')
display.display(my_juice_df.head())

my_juice_df = my_juice_df.reindex(np.random.permutation(my_juice_df.index))
display.display(my_juice_df.head())

   fid            juice_name  cold  soar_throat  fever
0    1        Rock The Beet      0            0      1
1    2     Turmeric Sunrise      0            0      1
2    3           Lemon Drop      0            0      1
3    4  Fennel to the Metal      0            0      1
4    5         Dragon Blood      0            0      1

    fid              juice_name  cold  soar_throat  fever
41   42     Spicy Chicken Thai      1            1      0
7     8             Creamsicle      0            0      1
29   30                   Mint      0            1      0
50   51  The Best Thai Coconut      1            0      0
33   34             Watermelon      0            1      0